DYNAMODB_TABLE_NAME=nhs-seen-jobs
DYNAMODB_REGION=eu-west-2
S3_BUCKET_NAME=nhs-job-tracker-data
EMAIL_PROVIDER=ses
SES_REGION=eu-west-2
SES_SENDER=your-email@gmail.com
SES_RECIPIENT=your-email@gmail.com
SMTP_USER=
SMTP_PASSWORD=
SMTP_RECIPIENT=
CV_MODE=basic
